Repository fwcd/tree-sitter-kotlin, pull requests merged in 2024-07, with the labels that each got.

#129 Uncomment rust highlights query export
  bindings/rust/lib.rs
Labels: bindings

#115 refactor(scanner): code cleanup
  src/scanner.c
Labels: scanner

#133 Update `web-tree-sitter` in playground to 0.22.6
  assets/tree-sitter-playground-0.22.6/LICENSE
  assets/tree-sitter-playground-0.22.6/playground.js
  assets/tree-sitter-playground-0.22.6/style.css
  assets/web-tree-sitter-0.22.1/tree-sitter.js
  assets/web-tree-sitter-0.22.1/tree-sitter.wasm
  assets/web-tree-sitter-0.22.6/LICENSE
  assets/web-tree-sitter-0.22.6/tree-sitter.js
  assets/web-tree-sitter-0.22.6/tree-sitter.wasm
  index.html
Labels: playground
